{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set pluginName = craft.amCommerce.name %}
{% set title = (isNewOrder ? 'New Order'|t : 'Edit Order'|t) %}

{% set crumbs = [
    { label: pluginName, url: url('amcommerce') },
    { label: 'Orders'|t, url: url('amcommerce/orders') },
    { label: title, url: '#' }
] %}

{% block main %}
    <form id="order-form" method="post" accept-charset="UTF-8" data-saveshortcut data-saveshortcut-redirect="{{ continueEditingUrl }}" data-confirm-unload>
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="amCommerce/orders/saveOrder">
        {% if orderId is defined %}<input type="hidden" name="orderId" value="{{ orderId }}">{% endif %}

        <div class="grid first" data-cols="2" data-mode="pct">
            <div class="item first" data-colspan="1">
                <div id="settings" class="pane">
                    {% include 'amcommerce/_includes/orders/fieldsGeneral' %}

                    <div class="buttons">
                        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
                    </div>
                </div>
            </div>

            <div class="item" data-colspan="1">
                <div class="pane">
                    {% set paneTabs = {
                        contact: { label: "Contact Information"|t, url: '#amcommerce-contact' },
                        delivery: { label: "Delivery Address"|t, url: '#amcommerce-delivery' },
                        invoice: { label: "Invoice Address"|t, url: '#amcommerce-invoice' },
                    } %}
                    {% include "_includes/tabs" with { tabs: paneTabs } %}

                    <div id="amcommerce-contact">
                        {% include 'amcommerce/_includes/orders/fieldsContact' %}
                    </div>
                    <div id="amcommerce-delivery" class="hidden">
                        {% include 'amcommerce/_includes/orders/fieldsDelivery' %}
                    </div>
                    <div id="amcommerce-invoice" class="hidden">
                        {% include 'amcommerce/_includes/orders/fieldsInvoice' %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}