{% extends "_layouts/elementindex" %}

{% set title = 'Orders'|t %}
{% set pluginTitle = craft.amCommerce.name %}

{% set crumbs = [
    { label: pluginTitle, url: url('amcommerce') },
    { label: title, url: '#' }
] %}

{% block sidebar %}
    <div class="buttons">
         <a class="btn submit add icon" href="{{ url('amcommerce/orders/new') }}">{{ "New Order"|t }}</a>
    </div>

    {{ parent() }}
{% endblock %}